/* dropdown.module.css */
.dropdown {
    position: relative;
}

.dropdownToggle {
    display: inline-flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    padding: 4px 8px;
    border-radius: 6px;
    background: var(--purple-4, #552CB8);
    color: var(--monochrome-1, #FFF);
    cursor: pointer;
    gap: 4px;
}

.dropdownToggle:hover {
    border-radius: 6px;
    background: var(--purple-2, #25017D);
}

.dropdownToggle span {
    display: flex;
    place-self: center center;
}

.dropdownToggleIcon svg{
    transition: transform 0.3s ease;
}

.dropdownToggleIcon.active svg{
    transform: rotateX(180deg);
}

.dropdownMenuWrapper {
    position: absolute;
    z-index: 100;
    max-height: 0;
    margin-top: 12px;
    overflow-y: hidden;
    transition: max-height 0.3s ease;
    border:none;
    background-color: transparent;
    user-select: none;
}

.dropdownMenuWrapper.open {
    max-height: min-content;
}

.dropdownMenuWrapper.right{
    right: 0;
}

.dropdownMenuWrapper.left{
    left: 0;
}

.dropdownMenu {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 100%;
    height: 100%;
    padding: 16px 12px;
    overflow-y: auto;
    border: 2px solid var(--purple-1, #0D0627);
    border-radius: 6px;
    background: var(--purple-3, #3C159C);
    cursor: pointer;
    gap: 4px;
}

.dropdownLi {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    padding: 10px;
    border: none;
    background: none;
    text-align: left;
    cursor: pointer;
    gap: 8px;
}

.dropdownLi a, .dropdownLi p {
    display: block;
    color: var(--monochrome-1, #FFF);
    text-decoration: none;
    white-space: nowrap
}

.dropdownLi:hover {
    border-radius: 4px;
    background: var(--purple-4, #552CB8);
}
